{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume PDF</title>
    <link href="{% static 'css/main.css' %}" rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-3">
                <div class="card card-body h-100 profile-wrapper">
                    <img class="profile-pic" src="{% static 'images/profile.jpg' %}"/>
                    </hr>
                    <h4>Jayani Rupasinghe</h4>
                    <div>
                        <p>Phone : +94714867176</p>
                        <p>Email : jayanirupasinghe123@gmail.com</p>
                        <p>Address : No.131, "Sisila", Avissawella Road, Puwakpitiya, Sri Lanka</p>
                        <p>Nationality : Sri Lankan</p>

                        <ul class="d-flex justify-content-between social-links">
                            <li><a href="https://www.linkedin.com/in/jayanirru">LinkedIn</a></li>
                            <li><a href="https://www.facebook.com">Facebook</a></li>
                            <li><a href="https://www.instagram.com">Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 mb-3">
                <div class="card card-body h-100">
                    <h4>PROFILE</h4>
                    <hr>
                    <p>I'm smart, hardworking, responsible individual with high self-
                    confidence and motivation who is eager to meet challenges. And as a
                    flexible person, I have the ability to cooperate well with others in a team.</p>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="row technical-margin">
                                <h5>Technical Skills</h5>
                                <hr class="technical-space">
                            </div>
                            <div class="row skills">
                                <div class="col-md-6">
                                    <p><b>Languages</b></p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>Python / PHP</p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-2 tech-1 dot-1"></div>
                                                <div class="col-md-2 tech-1 dot-2"></div>
                                                <div class="col-md-2 tech-1 dot-3"></div>
                                                <div class="col-md-2 tech-1 dot-4"></div>
                                                <div class="col-md-2 tech-1 dot-5"></div>
                                                <div class="col-md-2"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                             <p>HTML5</p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-2 tech-2 dot-1"></div>
                                                <div class="col-md-2 tech-2 dot-2"></div>
                                                <div class="col-md-2 tech-2 dot-3"></div>
                                                <div class="col-md-2 tech-2 dot-4"></div>
                                                <div class="col-md-2 tech-2 dot-5"></div>
                                                <div class="col-md-2"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>CSS / SASS</p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-2 tech-3 dot-1"></div>
                                                <div class="col-md-2 tech-3 dot-2"></div>
                                                <div class="col-md-2 tech-3 dot-3"></div>
                                                <div class="col-md-2 tech-3 dot-4"></div>
                                                <div class="col-md-2 tech-3 dot-5"></div>
                                                <div class="col-md-2"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>MySQL / MS SQL Server</p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-2 tech-4 dot-1"></div>
                                                <div class="col-md-2 tech-4 dot-2"></div>
                                                <div class="col-md-2 tech-4 dot-3"></div>
                                                <div class="col-md-2 tech-4 dot-4"></div>
                                                <div class="col-md-2 tech-4 dot-5"></div>
                                                <div class="col-md-2"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>GIT</p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-2 tech-5 dot-1"></div>
                                                <div class="col-md-2 tech-5 dot-2"></div>
                                                <div class="col-md-2 tech-5 dot-3"></div>
                                                <div class="col-md-2 tech-5 dot-4"></div>
                                                <div class="col-md-2 tech-5 dot-5"></div>
                                                <div class="col-md-2"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p><b>Frameworks</b></p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>Flask / Django</p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-2 tech-6 dot-1"></div>
                                                <div class="col-md-2 tech-6 dot-2"></div>
                                                <div class="col-md-2 tech-6 dot-3"></div>
                                                <div class="col-md-2 tech-6 dot-4"></div>
                                                <div class="col-md-2 tech-6 dot-5"></div>
                                                <div class="col-md-2"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>Fast API</p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-2 tech-6 dot-1"></div>
                                                <div class="col-md-2 tech-6 dot-2"></div>
                                                <div class="col-md-2 tech-6 dot-3"></div>
                                                <div class="col-md-2 tech-6 dot-4"></div>
                                                <div class="col-md-2 tech-6 dot-5"></div>
                                                <div class="col-md-2"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>Laravel 5+</p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-2 tech-7 dot-1"></div>
                                                <div class="col-md-2 tech-7 dot-2"></div>
                                                <div class="col-md-2 tech-7 dot-3"></div>
                                                <div class="col-md-2 tech-7 dot-4"></div>
                                                <div class="col-md-2 tech-7 dot-5"></div>
                                                <div class="col-md-2"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>Rails 5+</p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-2 tech-8 dot-1"></div>
                                                <div class="col-md-2 tech-8 dot-2"></div>
                                                <div class="col-md-2 tech-8 dot-3"></div>
                                                <div class="col-md-2 tech-8 dot-4"></div>
                                                <div class="col-md-2 tech-8 dot-5"></div>
                                                <div class="col-md-2"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>Bootstrap</p>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-2 tech-9 dot-1"></div>
                                                <div class="col-md-2 tech-9 dot-2"></div>
                                                <div class="col-md-2 tech-9 dot-3"></div>
                                                <div class="col-md-2 tech-9 dot-4"></div>
                                                <div class="col-md-2 tech-9 dot-5"></div>
                                                <div class="col-md-2"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h5>Soft Skills</h5>
                            <hr class="technical-space">
                            <p>- Team Working</p>
                            <p>- Punctuality</p>
                            <p>- Negotiation</p>
                            <p>- Challenge seeking</p>
                        </div>
                        <div class="col-md-2">
                            <h5>Hobbies</h5>
                            <hr class="technical-space">
                            <p>- Travelling</p>
                            <p>- Watching movies</p>
                            <p>- AI and ML</p>
                            <p>- Painting</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card card-body h-100">
                    <h4>WORK EXPERIENCE</h4>
                    <hr>
                    <h5>Associate Software Engineer (Feb/2021 - Jul/2022)</h5>
                    <h6><i>Terias Consulting Pvt Ltd</i></h6>
                    <p><b>api.unicpm.co/pdf.unicpm.co/app.unicpm.co</b></p>
                    <p>I have done the API development and Wysiwig Editor theme
                    implementation in this project.</p>
                    <p>Technologies: PHP/ Laravel/ MS SQL Server/HTML/Bootstrap</p>

                    <p><b>Modern Full Stack Social Media App</b></p>
                    <p>This is a fully mobile responsive modern social media application and use Google Authentication for login functionality</p>
                    <p>Technologies :- ReactJS/Tailwind CSS/JavaScript/Sanity</p>
                    <p><b>Websites</b></p>
                    <p>- EFE Website <a href="https://ef-electrical.co.uk/">https://ef-electrical.co.uk/</a></p>
                    <p>- EFE WooCommerce Website <a href="https://shop.ef-electrical.co.uk/">https://shop.ef-electrical.co.uk/</a></p>
                    <p>Technologies - wordpress/HTML/CSS/PHP/JavaScript</p>
                    <p>- KiddiesCove Website <a href="https://kiddiescovedaynursery.co.uk/">https://kiddiescovedaynursery.co.uk/</a></p>
                    <p>Technologies -wordpress/Bootstrap/PHP/HTML/Sass/JavaScript/GIT</p>
                    <hr>

                    <h5>Junior Frontend Developer (Feb/2020 - Oct/2020)</h5>
                    <h6><i>Arimac Lanka Pvt Ltd</i></h6>
                    <p>- Nero site development <a href="https://nero.lk/">Nero</a> (Bootstrap , HTML5 , CSS3)</p>
                    <p>- AIA,KPMG and lsapp projects development (Bootstrap , HTML5 , CSS3)</P>
                    <p>- Airtel site development(modal development (Bootstrap , HTML5 , CSS3)</p>
                    <p>- Amila Kankanamge official site development (Wordpress)</p>
                    <p>- Vikasha site development (Wordpress)</p>
                    <p>- CCP site development - webflow Technologies (Bootstrap , HTML5 , SASS , CSS3 , GIT)</p>
                    <hr>

                    <h5>Trainee Software Engineer (Nov/2016 - Apr/2017)</h5>
                    <h6><i>Sri Lankan Airlines (IT Division)</i></h6>
                    <p>- Security Policy Version Control System, iBudget proget (Backend Development)</p>
                    <p>- Flysmiles Project <a href="https://www.srilankan.com/flysmiles">Flysmiles</a> and Aviation College Project <a href="https://www.srilankanaviationcollege.com/">Aviation</a>(Frontend Development)</p>
                    <p>- Charika Project <a href="https://www.srilankan.com/en_uk/lk">Charika</a> (Experienced the testing using Jmeter)</p>
                    <p>Technologies: C#, MS.Net, HTML, CSS, JavaScript, MS SQL SERVER, MYSQL, XML, XSD</p>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card card-body h-100">
                    <h4>PROJECT EXPERIENCE</h4>
                    <hr>
                    <h6><i>Title: Digital Resume (Individual) (May/2023)</i></h6>
                    <p>Technology/Platform: Python 3.10.5/Django Framework 4.2/ Bootstrap 5.1/ HTML/ CSS/ PyCharm</p>
                    <p>Description: Developed a personal digital resume project using python and django framework</p>

                    <h6><i>Title: ChatWeb Project(Individual Practice Project) (Jan/2023 - Mar/2023)</i></h6>
                    <p>Technology/Platform: Python 3.10.5/Django Framework 4.1.4/ Django Rest Framework / Bootstrap/ HTML/ CSS/ MVT Architecture/ PyCharm/ SQLite</p>
                    <p>Description: This project mainly focus on engage with users through a chat room for learning technologies</p>

                    <h6><i>Title: ChatBot App (Individual Practice Project) (Jan/2023 - Mar/2023)</i></h6>
                    <p>Technology/Platform : Python 3.10.5/Anaconda 4.12.0/ Nltk/ Numpy/ Tflearn/ Tensorflow/JSON/ VS Code Editor</p>
                    <p>Description: Developed a chatbot app name as 'Simple Chatbot App' using python and anaconda above versions. Used few packages like nltk, numpy, tflearn and tensorflow.
                    </p>

                    <h6><i>Title: Modern Full Stack Social Media App (Individual Practice Project) (May/2022 - Jul/2022)</i></h6>
                    <p>Technology/Platform: ReactJS/Tailwind CSS/JavaScript/Sanity</p>
                    <p>
                    Description: This is a fully mobile responsive modern social media application and use Google Authentication for login
                    functionality.</p>

                    <h6><i>Title: Company and Employee Management System (Individual)</i></h6>
                    <p>Technology/Platform: PHP and Laravel Framework 5.8/ MySQL/ HTML5/ CSS3/ Bootstrap4/ MVC Architecture/ Object Oriented
                    Development/ Laravel 5.8 functions and validations.</p>
                    <p>Description: Through the system mainly handle the companies and their employees.</p>

                    <h6><i>Title: Web Base System for a Cosmetic Shop (Team : Four members)</i></h6>
                    <p>Technology/Platform: HTML, CSS, JavaScript, MySQL, Databases ,Visual Studio.Net</p>
                    <p>Description: Basic user management(sign-up and sign-in) is handled in this system.</p>

                    <h4>PROFESSIONAL QUALIFICATIONS</h4>
                    <hr>
                    <p>Imperial College Of Information Technology and Business
                    --Jul/2022- Nov/2022</p>
                    <p><i>--Certificate of Python Programming Training Program</i>
                    </p>
                    <p>Sri Lanka Institute of Information Technology (SLIIT)
                    --Mar/2019-Sep/2019</p>
                    <p><i>--Completed Web Application Development Program</i></p>
                    <p>Sri Lanka Institute of Information Technology (SLIIT)
                    --Oct/2012-Feb/2013</p>
                    <p><i>--Completed certificate of IT Application Program</i></p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card card-body h-100">
                    <h4>EDUCATION</h4>
                    <hr>
                    <h5>B.Sc (special) Computing and Information Systems </h5>
                    <p><i>(Mar/2014 - Jul/2018)</i></p>
                    <p><b>Second Class Lower Division /GPA 3.07</b> - Sabaragamuwa University of Sri Lanka</p>

                    <h6><i>Undergraduate Mini Project - 3rd year</i></h6>
                    <p><b>Title: Freelancer Website (Individual)</b></p>
                    <p>Technology/Platform: Ruby and Rails Framework, MySQL, HTML, CSS,
                    Bootstrap</p>
                    <p>Description: There are two types of end-users in this system; employers,
                    who want to get work done and employees who want to work and earn
                    money</p>

                    <h6><i>Assignment Project - 2nd year</i></h6>
                    <p><b>Title: Online Quiz System (Individual)</b></p>
                    <p>Technology/Platform: HTML, CSS, Bootstrap , MySQL , PHP </p>
                    <p>Description: Basic user management is handled in this system </p>

                    <h6><i>Undergraduate Research Project - 4th year</i></h6>
                    <p>I have completed my undergraduate research project on the topic of
                    "Availability and Usage of Cloud Computing in University Level" by conducting a survey including nine universities in Sri Lanka </p>

                    <h6><i>G.C.E. (A/L) Examination (Aug/2012)</i></h6>
                    <p><b>District Rank (84) / Island Rank (1424)</b></p>
                    <p>High School - Anula Vidyalaya, Nugegoda, Colombo (Combined Mathematics)</p>

                    <h6><i>G.C.E. (O/L) Examination (Dec/2007)</i></h6>
                    <p><b>9'A' Passes and 1'C' Pass (A - Distinction Pass, C - Credit Pass)</b></p>
                    <p>Primary and Secondary Education- Seethawaka M.M.V.(National College), Avissawella</p>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card card-body h-100">
                    <h4>ACHIEVEMENTS</h4>
                    <hr>
                    <p>- First place from the School Mathematics Competition from the Homagama Division in 2006 (Grade 10/ School Category 1AB)</p>
                    <p>- Second place from the School Mathematics Competition from the Homagama Division in 2005 (Grade 9/ School Category 1AB)</p>
                    <p>- First place from the School Dancing Competition from Homagama Division in 2005</p>
                    <p>- Second place from the School Dancing Competition from Western Province in 2003</p>
                    <p>- Third place from the Cursive Writing - zonal level English Day Competition in 2006</p>
                    <p>- Second place from the Inter-Faculty Sport Meet- Carrom in Sabaragamuwa University of Sri Lanka in 2015</p>

                    <h4>EXTRA CURRICULAR ACTIVITIES & MEMBERSHIPS</h4>
                    <hr>
                    <p>- Participated for the Google I/O extended 2016</p>
                    <p>- Participated for the iFest 2k16 at University of Colombo in 2016</p>
                    <p>- Participated for the Aces coders 05.0 held at Faculty of Engineering, University of Peradeniya in 2015</p>
                    <p>- Member of the IT Society & Carrom team of Sabaragamuwa University of Sri Lanka</p>
                    <p>- Member of the IT Society & Buddhist Society of Anula Vidyalaya, Nugegoda</p>

                    <h4>REFERENCE</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p><b>Mr. Roy Warnasooriya</b></p>
                            <p>Senior Lecturer</p>
                            <p>Oxford College, Colombo</p>
                            <p>Phone: +94 77 949 2647</p>
                        </div>
                        <div class="col-md-6">
                            <p><b>Mr. S Vasanthapriyan</b></p>
                            <p>Senior Lecture, Dept of CIS</p>
                            <p>Sabaragamuwa University of Sri Lanka</p>
                            <p>Phone: +94 71 785 1500</p>
                            <p>Email: svpriyan@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>