@font-face {
    font-family: Montserrat;
    src: url("staticfiles/fonts/Montserrat-Bold.ttf") format("truetype");
    src: url("staticfiles/fonts/Montserrat-ExtraBold.ttf") format("truetype");
    src: url("staticfiles/fonts/Montserrat-Medium.ttf") format("truetype");
    src: url("staticfiles/fonts/Montserrat-Black.ttf") format("truetype");
}

@font-face {
    font-family: KumbhSans;
    src: url("staticfiles/fonts/KumbhSans-Bold.ttf") format("truetype");
    src: url("staticfiles/fonts/KumbhSans-Light.ttf") format("truetype");
    src: url("staticfiles/fonts/KumbhSans-Regular.ttf") format("truetype");
}