body {
    .container {
        .profile-wrapper {
            .card-body {
                .skills {
                    .tech-1, .tech-2, .tech-3{
                        .dot-1, .dot-2, .dot-3, .dot-4, .dot-5 {
                            @include dotStyle();
                            background-color: $secondaryHeadingColor !important;
                        }
                    }

                    .tech-4, .tech-5 {
                        .dot-1, .dot-2, .dot-3, .dot-4 {
                            @include dotStyle();
                            background-color: $secondaryHeadingColor !important;
                        }
                        .dot-5 {
                            @include dotStyle();
                            border: 1px solid $secondaryHeadingColor !important;
                        }
                    }
                }
            }
        }
    }
}