//----------variables-----------
@import "./variables";

//----------dots----------------
@import "./dots";

body {
    background-color : $bgColor !important;
    font-size : 12px !important;
}

.container {
     background-color : $bgColor;
}

p {
    line-height : 1.2;
}

.profile-wrapper{
    text-align: center;
}

.profile-pic {
      width: 50%;
      height: auto;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
}

ul {
    padding: 0;
    list-style-type: none;
}

.social-links ul, li {
    list-style-type: none;
}

.social {
    width: 20px;
    height: 20px;
}

.technical-margin {
    margin-top: 20px;
}

.technical-space, hr {
    padding-top: 10px;
    background-color : $techSpaceColor;
}

a, h4 {
    color : $primaryHeadingColor !important;
}

a {
    text-decoration: unset !important;
}

h5 {
    color: $secondaryHeadingColor !important;
}

h6 {
    padding-top: 20px !important;
}




