body {
    background-color : whitesmoke !important;
    font-size : 12px !important;
}

.container {
     background-color : whitesmoke;
}

p {
    line-height : 1.2;
}

.profile-wrapper{
    text-align: center;
}

.profile-pic {
      width: 50%;
      height: auto;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
}

ul {
    padding: 0;
    list-style-type: none;
}

.social-links ul, li {
    list-style-type: none;
}

.social {
    width: 20px;
    height: 20px;
}

.technical-margin {
    margin-top: 20px;
}

.technical-space, hr {
    padding-top: 10px;
    background-color : #E6E6FA;
}

a, h4 {
    color : 008080 !important;
}

a {
    text-decoration: unset !important;
}

h5 {
    color: cadetblue !important;
}

h6 {
    padding-top: 20px !important;
}

.container {
    .profile-wrapper {
        .card-body {
            .skills {
                .tech-1, .tech-2, .tech-3{
                    .dot-1, .dot-2, .dot-3, .dot-4, .dot-5 {
                        width: 10px !important;
                        height: 14 !important;
                        border-radius: 100%;
                        background-color: cadetblue !important;
                        margin: 1px 1px;
                    }
                }

                .tech-4, .tech-5 {
                    .dot-1, .dot-2, .dot-3, .dot-4 {
                        width: 10px !important;
                        height: 14 !important;
                        border-radius: 100%;
                        background-color: cadetblue !important;
                        margin: 1px 1px;
                    }
                    .dot-5 {
                        width: 10px !important;
                        height: 14 !important;
                        border-radius: 100%;
                        border: 1px solid cadetblue !important;
                        margin: 1px 1px;
                    }
                }
            }
        }
    }
}

